# Build output
.cache
public

# Dependency directories
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output
gatsby-v5-source-hygraph/gatsby-*
gatsby-v5-source-hygraph/util/
!gatsby-v5-source-hygraph/src/**